body{
	margin: 0;
	background: #222222;
	color: white;
}
nav{
background-color: #1b1b1b;
}
p{
	padding: 0px;
}
a{
	color: white;
}
table{
	margin-top: 1rem;
}
#sidenav{
	position: absolute;
    top: 10px;
    width: 44px;
    height: 44px;
    z-index: 700;
    background-color: #1b1b1b;
    font-size: 28px;
}
.fa{
	margin-top: 15%;
    text-align: center;
    display: block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.datepicker-table-wrapper{
	color: black;
}
.sidenav{
    width: 20%;
}
#firstname{
	padding-left: 1em;
}
#icon-size{
	font-size: 32px;
}
.modal{
	background-color: #e0e0e0eb;
	width: 65%;
	height: 70%;
	max-height: 100%;
}
.modal-content{
	padding: 1em;
	color: black;
}